@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: "Inter";
}

.progres{
    width: 1155px;
    border-radius: 20px;
    background-color: #263C5C;
    height: 72px;
    margin: auto;
    margin-bottom: 10%;
    margin-top: 3%;
}

.star{
    float: left;
    margin-left: 3%;
    margin-top: 1%;
}

.logros{
    color: white;
    float: left;
    margin-top: 1.5%;
    margin-left: 2%;
}

.line{
    background-color: white;
    width: 475px;
    margin: auto;
    height: 25px;
    border-radius: 20px;
    float: right;
    margin-right: 10%;
    margin-top: 2%;
}

.progres h4{
    font-size: 36px;
    color: white;
    float: right;
    position: fixed;
    display: flex;
    margin: auto;
    margin-left: 67%;
    margin-top: 1%;
}

.lineinside{
    background-color: yellow;
    height: 10px;
    display: flex;
    width: 175px;
    margin-left: 5px;
    margin-top: 7px;
}

.event1{
    color: white;
    margin: auto;
    background-color: #263C5C;
    height: 66px;
    width: 1327px;
    margin-bottom: 2%;
}

.line2{
    background-color: white;
    width: 475px;
    margin: auto;
    height: 25px;
    border-radius: 20px;
    float: right;
    margin-right: 8%;
    margin-top: 1.5%;
}
