.ContactUs{
  height: 107vh;
}
.ContactUs1 {
    justify-content: center;
    margin-top: 80px;
    width: 100%;
  }

  .info{
    padding: 30px;
    margin-left: 21%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 40px;
  }
  .info2{
    margin-top: -2%;
    text-align: center;
    margin-bottom: 2%;
}

.pin{
    margin-left: auto;
    margin-right: auto;
}
.email{
    margin-left: auto;
    margin-right: auto;
}
.phone{
    margin-left: auto;
    margin-right: auto;
}
  
  .box {
    display: grid;
    justify-content: center;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    border-radius: 40px;
    height: 200px;
    padding: 15px;
    margin: 10px;
    width: 300px;
    margin-left: 18%;
  }
  .box2 {
    display: grid;
    justify-content: center;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    border-radius: 40px;
    height: 200px;
    padding: 15px;
    margin: 10px;
    width: 300px;
  }
  .box3 {
    display: grid;
    justify-content: center;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    border-radius: 40px;
    height: 200px;
    padding: 15px;
    margin: 10px;
    width: 300px;
  }

h3, p{
    text-align: center;
}

p{
  color: #444343;
}

.mejlo{
  font-weight: bold;
  font-size: 15px;
}

.phoneb{
    border: 1px solid #263C5C;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    color: white;
    font-size: 11px;
    font-style: bold;
    background-color: #263C5C;
    border-radius: 40px;
    height: 20px;
    width: 98px;
}
.emailb{
    border: 1px solid #263C5C;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    color: white;
    font-size: 11px;
    font-style: bold;
    background-color: #263C5C;
    border-radius: 40px;
    height: 20px;
    width: 98px;
}
.oficinab{
    border: 1px solid #263C5C;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    color: white;
    font-size: 11px;
    font-style: bold;
    background-color: #263C5C;
    border-radius: 40px;
    height: 20px;
    width: 98px;
    margin-bottom: 20%
}