.ContactUs1 {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .info{
    padding: 30px;
    text-align: center;
    margin-left: 27%;
    font-weight: bold;
    margin-top: -2%;
    font-size: 64px;
  }
  .info2{
    margin-top: -1%;
    text-align: center;
    margin-bottom: 2%;
}

.pin{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.email{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.phone{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
  
  .box {
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    border-radius: 40px;
    height: 284px;
    padding: 50px;
    margin: 50px;
    margin-top: 1%;
    width: 382px;
    background-color: #D9D9D9;
  }

h3, p{
    text-align: center;
}

p{
  color: #444343;
}

.mejlo{
  font-weight: bold;
}

.phoneb{
    border: 1px solid #263C5C;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    color: white;
    font-size: larger;
    font-style: bold;
    background-color: #263C5C;
    border-radius: 40px;
    height: 40px;
    width: 160px;
}
.emailb{
    border: 1px solid #263C5C;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    color: white;
    font-size: larger;
    font-style: bold;
    background-color: #263C5C;
    border-radius: 40px;
    height: 40px;
    width: 160px;
}
.oficinab{
    border: 1px solid #263C5C;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    color: white;
    font-size: larger;
    font-style: bold;
    background-color: #263C5C;
    border-radius: 40px;
    height: 40px;
    width: 160px;
}