.containerDescription{
    background-color: #818589;

}

.Element1{
    height: 460px;
    width: 80%;
    border: 5px solid #FFFF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
    margin-left: -5%;
}

.Paragraph{
    grid-area: Paragraph;
}

.EventButton {
    background-color: #263C5C;
    color: #FFFFFF;
    border: 0;
    border-radius: 25px;
    height: 7%;
    width: 28%;
    margin-top: 85%;
    margin-right: 4%;
    position: relative;
    float: right;
    cursor: pointer;
    font-size: larger;
    font-weight: 600;
    vertical-align: middle;
}

