.first-monument-pic{
    display: flex;
    height: 25%;
    width: 20%;
    align-items: start;

}

.Element2{
    height: 220px;
    width: 100%;
    border: 5px solid #FFFF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}

.Monument1{
    grid-area: monument;
}