
  footer {
    background-color: #263C5C;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  body img {
    width: 70px;
    height: 50px;
  }