.container-info-page {

    width: 100%;
}

.info-page-box1 {
    margin-top: 7%;
    width: 90%;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
}

.info-box1 {
    background-color: white;
    border-radius: 7px;
    border: 3px solid #263C5C;
    font-size: xx-large;
    text-align: center;
    height: 50vh;
    width: 65%;
    float: left;
}

.info-pg-h1 {
    margin-top: -1px;
    margin-left: 42%;
}

.info-box2 {
    border-radius: 15%;
    width: 25%;
    margin-right: 5%;
    float: right;
}

.qr-image {
    position: relative;
    border-radius: 7px;
    width: 100%;
    height: 50vh;
}

.info-page-box2 {
    margin-top: -7%;
}

.info-box3 {
    background-color: #7B96FF;
    margin-top: 10%;
    width: 90%;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.puntos_h1 {
    padding: 5px;
    text-align: center;
    margin-left: 40%;
}

.center_line {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 7px;
    background-color: black;
    margin-top: 5%;
}

.boxes_2 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    margin-top: 7%;
}

.left_box1 {
    height: 80%;
    width: 40%;
    background-color: #7B96FF;
    border-radius: 30px;
}

.top_box_1_left {
    width: 30%;
    height: 10%;
    float: left;
    color: #263C5C;
    margin-left: 20%;
}

.top_box_2_right {
    width: 20%;
    height: 10%;
    margin-right: 17%;
    float: right;
    color: #263C5C;
}

.top_box_1_text,
.top_box_2_text {
    text-align: center;
}

.icons_box_left {
    width: 15%;
    height: 80%;
    float: left;
    display: grid;
    align-items: center;
    margin-left: 6%;
}

.QrCode {
    width: 30%;
    height: 30%;
}

.ranks_left {
    width: 35%;
    height: 40%;
    float: left;
    color: #263C5C;
}

.totems_left {
    width: 35%;
    height: 40%;
    float: left;
    color: #263C5C;
}

.platino_rank_left {
    width: 100%;
    height: 30%;
    margin-top: 15%;
    justify-content: center;
}

.platino_rank1_left {
    width: 100%;
    height: 30%;
    margin-top: 22%;
    justify-content: center;
}

.platino_rank2_left {
    width: 100%;
    height: 30%;
    margin-top: 22%;
    justify-content: center;
}

.platino_rank3_left {
    width: 100%;
    height: 30%;
    margin-top: 22%;
    justify-content: center;
}

.platino_totems {
    width: 100%;
    padding-right: 5%;
    margin-top: 15%;
    text-align: center;
}

.platino_totems1 {
    width: 100%;
    padding-right: 5%;
    margin-top: 35%;
    text-align: center;
}

.platino_totems2 {
    width: 100%;
    padding-right: 5%;
    margin-top: 35%;
    text-align: center;
}

.platino_totems3 {
    width: 100%;
    padding-right: 5%;
    margin-top: 35%;
    text-align: center;
}

.right_box1 {
    height: 80%;
    width: 40%;
    background-color: #7B96FF;
    border-radius: 30px;
}

.acerca {
    text-align: center;
    color: #263C5C;
    margin-top: 3%;
}

.maps {
    height: 300px;
    width: 400px;
}

.about_qr {
    font-size: xx-large;
    text-align: center;
    /*margin-right: 5%;*/
    /*margin-top: 3%;*/
}