.meca{
    width: 762px;
    height: 518px;
    text-align: center;
    margin-top: 5%;
}

.logo{
    float: left;
    height: 650px;
    border-right: 2px solid #263C5C;
}

.login_form{
    float: right;
    text-align: center;
    margin-right: 10%;
    margin-top: 8%;
}

.login_form h5{
    font-size: 24px;
    text-align: center;
    margin-bottom: 20%;
}

.login_form input{
    border: 2px solid #263C5C;
    border-radius: 5px;
    width: 377px;
    height: 66px;
    text-align: left;
    margin-bottom: 20px;
}

.login_form input::placeholder{
    padding-left: 20px;
}

.login_form button{
    color: white;
    background-color: #263C5C;
    border-radius: 10px;
    width: 171px;
    height: 66px;
    font-size: 24px;
}

.google{
    margin-top: 5%;
    margin-right: -2%;
    width: 96px;
    height: 81px;
}

.facebook{
    margin-top: 5%;
    margin-left: 5%;
    width: 80px;
    height: 76px;
}
