@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    font-family: "Inter";
}

.navbar {
    background-color: #263C5C;
}

.profilePicture {
    background-color: #263C5C;
    height: 10em;
    position: relative;  
}

.profilePicture img {
    width: 15em;
    height: auto;  
    position: absolute;  
    bottom: 0; 
    transform: translateY(40%);  
}

.mobile-background {
    background-color: #f6f6f6;
}

.arrow {
    display: none;
}

@media only screen and (max-width: 1200px) {
    .arrow {
        display: block;
        max-height: 30px;
        width: auto;
    }
}

@media only screen and (max-width: 500px) {
    .profilePicture img {
        width: 12em;
    }
}