.navbar {
    background-color: #263C5C;
}

.profilePicture {
    background-color: #263C5C;
    height: 10em;
    position: relative;  
}

.profilePicture img {
    width: 15em;
    height: auto;  
    position: absolute;  
    bottom: 0; 
    transform: translateY(40%);  
}

.menu {
    width: 70px;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.menu-line {
    width: 60px;
    height: 10px;
    border-radius: 5px;
}

.mobile-background {
    background-color: #f6f6f6;
}